# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
coverage/

# next.js
.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem
Thumbs.db
desktop.ini
*.tsbuildinfo
next-env.d.ts

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel/

# Editor/IDE Metadata
.vscode/
.idea/
*.swp
*.swo
.project
.classpath
.settings/
.nbproject/

# temporary files
tmp/
temp/

# prisma
/src/generated/prisma
